.game-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: black;
}

.score{
    background: red;
    text-align: center;
    #score-counter{
        color: white;
    }
}